@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-red: #ec2227;
  --dark-gray: #9e9e9e;
  --light-gray: #efefef;
  --white: #ffffff;
  --black: #000000;

  --font-heading: "Poppins", sans-serif;
  --font-body: "Poppins", sans-serif;

  /* button styling */
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --border-radius: 40px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-body);
  background-color: var(--light-gray);
}

.login-body {
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
