/* coded by Danielle Wahrhaftig */
.cb-booking-page {
  margin: 5rem 5rem;
  display: flex;
  flex-direction: horizontal;
  gap: 2rem;
}

@media (max-width: 950px) {
  .cb-booking-page {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 2rem;
  }
}
