.booking-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.booking-page h2 {
    font-size: 2.5rem;
    margin-top: 10vh;
}
.booking-page h3 {
    color: var(--dark-gray);
    margin-top: 5vh;
}

.calendar-container {
    display: flex;
    margin-top: 2vh;
    justify-content: space-around;
}

.meetings-container {
    width: 35vw;
    margin-top: 10vh;
}

.time-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    flex-wrap: wrap; 
    gap: 2vw;
}

.time-buttons button {
    background-color: var(--primary-red);
    font-family: var(--font-heading);
    color: var(--white);
    border: none;
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.time-buttons button:hover {
    background-color: #d41f24;
}

.non-recurring-meetings {
    display: flex;
    gap: 10vw;
    margin-top: 2vh;
    width: 80vw;
    justify-content: center;
}

.non-recurring-meeting {
    width: 20vw;

}

.back-btn {
    margin: 9vh;
    scale: 1.5;
    background-color: var(--dark-gray);
    font-family: var(--font-heading);
    color: var(--white);
    border: none;
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.back-btn:hover {
    background-color: #8a8a8a;
}



@media (max-width: 768px) {
    .booking-page h2 {
        font-size: 1.75rem;
        margin-top: 5vh;
    }

    .booking-page h3 {
        font-size: 1.25rem;
        margin-top: 3vh;
    }

    .calendar-container {
        flex-direction: column;
        align-items: center;
    }

    .meetings-container {
        width: 80vw;
        margin-top: 5vh;
    }

    .time-buttons {
        margin-top: 5vh;
    }

    .non-recurring-meetings {
        flex-direction: column;
        gap: 4vw;
        width: 90vw;
    }

    .non-recurring-meeting {
        width: 80vw;
        margin-bottom: 2vh;
    }

    .back-btn {
        scale: 1.1;
    }
}

@media (max-width: 480px) {
    
    .booking-page h2 {
        font-size: 1.5rem;
    }

    .non-recurring-meetings {
        flex-direction: column;
        gap: 3vw;
        width: 95vw;
    }

    .non-recurring-meeting {
        width: 90vw;
    }

}