/* Emily Roest, 260960015 */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.home-container {
  width: 100%;
  overflow: hidden;
}

.home-gradient {
  height: 150vh;
  display: block;
  overflow: visible;
  width: auto;
}

.top-section {
  position: relative;     
  display: flex;          
  justify-content: center;
  align-items: center;
  height: 100vh;          
  width: 100%;
  overflow: hidden;       
}

.overlay-text {
  font-family: "Poppins", sans-serif;
  position: absolute;       
  top: 50%;                 
  left: 50%;
  transform: translate(-50%, -50%); 
  color: #444040;
  text-align: center;
}

.overlay-text h1 {
  margin: 10px 5px 5px 5px;
  font-size: 2rem;
}

.overlay-text p {
  margin: 10px 5px 5px 5px;
  font-size: 1.25rem;
}

.overlay-buttons {
  margin: 30px 20px 0 0;
  background: var(--primary-red);
  color: #fff;
  border: none;
  font-size: 1rem;
  height: 45px;
  border-radius: 100px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: var(--box-shadow);
  width: 150px;
}

.middle-section {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.left-panel {
  background-color: #ec2227;
  padding: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: left;
}

.left-panel h2 {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px #5031311e;
}

.features {
  list-style: none;
  padding: 0;
  margin: 0;
}

.features li {
  margin-bottom: 1rem;
  position: relative;
  padding-left: 2rem;
  font-size: 1.1rem;
}

.features li::before {
  content: "✓";
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  font-weight: bold;
}

.right-panel {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.schedule-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border: none;
  background: none;
}

.bottom-section-red {
  background-color: #fae5e6;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px 20px 0;
  margin-bottom: 0;
}

.bottom-section-red h2 {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  margin-top: 10px;
  margin-bottom: 70px;
  color: #000;
  font-weight: bold;
  max-height: 60vh;
}

.images-row {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
}

.home-image {
  flex: 1;
  max-width: 100%;
  margin: 0 20px 0;
  height: auto;
}

.bottom-section-grey {
  background-color: #efefef;
  display: flex;
  flex-direction: row;
  min-height: 40vh;
  padding-top: 0;
}

.bottom-section-grey > div {
  flex: 1;
  margin: 20px 20px 0px 50px;
}

.bottom-section-grey h3 {
  color: #656565;
  margin-bottom: 0px;
  text-align: left;
  margin-top: 0px;
}

.bottom-section-grey p {
  color: #656565;
  line-height: 1.5;
  text-align: left;
}
