/* Coded by Danielle Wahrhaftig */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.cb-create-meeting-sidebar {
  background: #444040;
  color: #fff;
  padding: 20px;
  padding-bottom: 15px;
  border-radius: 50px;
  width: 300px;
  max-height: calc(800px - 30px);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  overflow-y: auto;
  scrollbar-width: thin;
  clip-path: inset(0 round 50px);
  overflow-x: hidden;
}

.cb-create-booking-sidebar-title {
  font-size: 0.9rem;
  margin: 10px 0 2px 0;
  font-weight: normal;
  margin-top: 2rem;
}

.cb-add-title-input {
  all: unset; /* removes default input styling */
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  caret-color: #ff0000;
}

.cb-add-title-input::placeholder {
  color: white;
  opacity: 0.9;
}

.cb-add-title-input:focus + .cb-sidebar-divider {
  border-top-color: #ff0000;
  transform: scaleY(4);
}

.cb-sidebar-divider {
  border: none;
  margin: 5px 0 2px 0;
  border-top: 1px solid #cbcbcb;
  transition: border-color 0.3s ease, transform 0.3s ease;
}

.cb-panel-description {
  font-size: 0.85rem;
  line-height: 1.3;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: bold;
}

.cb-booking-subtitle {
  font-size: 0.8rem;
  font-weight: 300;
  margin: 5px 0 2px 0;
}

.cb-description {
  font-size: 0.8rem;
  font-weight: normal;
  margin: 5px 0 15px 0;
}

.cb-repeat-weekly-toggle {
  background: #555;
  color: #fff;
  border: none;
  padding: 5px 15px;
  font-size: 0.9rem;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 15px;
  transition: background 0.3s;
}
.cb-repeat-weekly-toggle.active {
  background: #444;
}

.cb-unavailabilities-list {
  margin-top: 10px;
}

.cb-day-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.cb-day-label {
  flex: 0 0 40px;
  font-size: 0.85rem;
  color: #eee;
  font-weight: 500;
}

.cb-day-blocks {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}

.cb-available-label {
  color: #bbb;
  font-size: 0.8rem;
}

.cb-time-block {
  background: #555;
  border-radius: 8px;
  padding: 5px 10px;
  font-size: 0.8rem;
}

.cb-icon-button {
  background: none;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  color: #fff;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cb-save-btn {
  background: #b60000;
  color: #fff;
  border: none;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 30px;
  align-self: flex-end;
}

.cb-save-btn:hover {
  background: #f43d3d;
}

.cb-bold-title {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 0.9rem;
  width: 90%;
}

.cb-gap {
  margin-top: 1rem;
}

.cb-scheduling-window-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cb-scheduling-window-title .bold-title {
  width: 90%;
}

.cb-chevron {
  width: 20px;
  height: 20px;
  margin-top: 1rem;
  margin-left: 2rem;
  width: 10%;
  transition: transform 0.3s ease;
}

.cb-chevron.rotated {
  transform: rotate(180deg);
}

.booking-url-container a:hover {
  text-decoration: underline;
}

.booking-url-container {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  word-wrap: break-word; /* Ensure long URLs wrap */
  word-break: break-word;
  overflow-wrap: break-word;
}

.booking-url-container a {
  color: #ff8080;
  text-decoration: none;
}

.booking-url-container a:hover {
  text-decoration: underline;
}

@media (max-width: 950px) {
  .cb-create-meeting-sidebar {
    width: 60%;
  }
}

@media (max-width: 500px) {
  .cb-create-meeting-sidebar {
    width: 80%;
  }
}
