/* coded by Danielle Wahrhaftig */
.cb-calendar-container {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  color: #000000;
  flex: 1;
  justify-content: left;
}

.cb-calendar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.cb-month-year {
  margin: 0 20px;
  font-size: 1.2rem;
  font-weight: 500;
}

/*  the arrows */
.cb-nav-arrow {
  background: none;
  border: none;
  color: #000;
  background: #efefef;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
  font-size: 1.2rem;
  line-height: 32px;
  text-align: center;
}

/*  the grey container */

.cb-days-container {
  background: #212121;
  border-radius: 20px;
  padding: 20px;
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
}

.cb-days-header-row {
  display: flex;
  margin-bottom: 10px;
}

.cb-day-header {
  flex: 1;
  text-align: center;
  color: #cbcbcb;
}

.cb-day-header.cb-placeholder {
  flex: 0 0 50px; /* Reserve space for the times column */
}

.cb-day-name {
  font-size: 0.8rem;
}

.cb-day-date {
  font-size: 1.2rem;
  font-weight: 300;
}

.cb-days-grid {
  display: flex;
  flex-direction: row;
  position: relative;
}

.cb-times-column {
  flex: 0 0 50px;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.cb-time-row {
  height: 51px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding-right: 5px;
}

.cb-hour-label {
  font-size: 12px;
  color: #ccc;
  line-height: 0;
}

.cb-day-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.cb-hour-slot {
  height: 50px;
  border-top: 1px solid #333;
  position: relative;
}

.cb-hour-slot.cb-unavailable {
  background-color: #a09999;
  cursor: not-allowed;
  border-radius: 10px;
}

.cb-hour-slot.cb-selected {
  background-color: #ff2424;
  border-radius: 10px;
}

.cb-hour-slot.cb-current-selection {
  background-color: lightcoral;
  border-radius: 10px;
}

@media (max-width: 950px) {
  .cb-calendar-container {
    width: 90%;
  }
}
